@font-face {
    font-family:"Aller Display";
    src:    url("https://raw.githubusercontent.com/thegportal/thegportal.github.io/refs/heads/main/ghrb/g/moto-x3m/assets/fonts/AllerDisplay/AllerDisplay.eot?")                format("eot"),
            url("https://raw.githubusercontent.com/thegportal/thegportal.github.io/refs/heads/main/ghrb/g/moto-x3m/assets/fonts/AllerDisplay/AllerDisplay.woff")                format("woff"),
            url("https://raw.githubusercontent.com/thegportal/thegportal.github.io/refs/heads/main/ghrb/g/moto-x3m/assets/fonts/AllerDisplay/AllerDisplay.ttf")                 format("truetype"),
            url("https://raw.githubusercontent.com/thegportal/thegportal.github.io/refs/heads/main/ghrb/g/moto-x3m/assets/fonts/AllerDisplay/AllerDisplay.svg#AllerDisplay")    format("svg");
    font-weight:normal;
    font-style:normal;
}
