@font-face {
    font-family:"CfCrackBold";
    src:    url("https://raw.githubusercontent.com/thegportal/thegportal.github.io/refs/heads/main/ghrb/g/moto-x3m/assets/fonts/CfCrackBold/cfcrackandbold.eot?")                format("eot"),
            url("https://raw.githubusercontent.com/thegportal/thegportal.github.io/refs/heads/main/ghrb/g/moto-x3m/assets/fonts/CfCrackBold/cfcrackandbold.woff")                format("woff"),
            url("https://raw.githubusercontent.com/thegportal/thegportal.github.io/refs/heads/main/ghrb/g/moto-x3m/assets/fonts/CfCrackBold/cfcrackandbold.ttf")                 format("truetype"),
            url("https://raw.githubusercontent.com/thegportal/thegportal.github.io/refs/heads/main/ghrb/g/moto-x3m/assets/fonts/CfCrackBold/cfcrackandbold.svg#cfcrackandbold")    format("svg");
    font-weight:normal;
    font-style:normal;
}
